#container {
    width: 400px;
    background-color: rgba(0,0,0, .1);
    padding: 20px;
}

input[type=text] {
    width: 65%;
}

h1 {
    text-align: center;
}

ol.list {
    margin: 0;
    padding: 25px;
}

ol.list li {
    height: 30px;
    overflow: hidden;
    line-height: 30px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #919191;
}

ol.list li button {
    padding: 5px 7px;
    background-color: #A6846F;
    color: #fff;
    border: none;
}
ol.list li button:hover{
    background-color: #FF1E00;
}

ol.list li input[type='checkbox'] {
    vertical-align: middle;
    margin: 0 10px;
    display: inline-block;
}