#container {
    width: 400px;
    background-color: rgba(0, 0, 0, .1);
    padding: 20px;
}

#inputEll {
    width: 65%;
}

h1 {
    text-align: center;
}

ol.list {
    margin: 0;
    padding: 25px;
}

ol.list li {
    height: 40px;
    overflow: hidden;
    line-height: 40px;
    position: relative;
    margin: 10px 0 0 0;
    padding: 0;
    border-bottom: 1px solid #919191;
}

ol.list li button {
    padding: 5px 7px;
    background-color: #A6846F;
    color: #fff;
    border: none;
}
ol.list li button:hover{
    background-color: #FF1E00;
}

ol.list li input[type='checkbox'] {
    vertical-align: middle;
    margin: 0 10px;
    display: inline-block;
}

ol.list li .linkTop {
    color: #fff;
    position: absolute;
    text-align: center;
    font-size: 22px;
    line-height: 40px;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
}

ol.list li .linkBottom {
    color: #fff;
    position: absolute;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    bottom: 0;
    right: 42px;
    width: 40px;
    height: 40px;
}
input.changeText{
    margin-right: 80px;
    width: 55%;
}